<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>
<header class="site-navbar py-4" role="banner">

  <div class="container">
    <div class="d-flex align-items-center">
      <div class="site-logo">
        <a href="index.html">
          <img [src]="path" alt="Logo">
        </a>
      </div>
      <div class="ml-auto">
        <nav class="site-navigation position-relative text-right" role="navigation">
          <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
            <li class="active"><a href="index.html" class="nav-link">{{home}}</a></li>
            <li><a class="nav-link" routerLink="matches">Matches</a></li>
            <li><a href="players.html" routerLink="players">Players</a></li>
            <li><a href="blog.html" class="nav-link">Blog</a></li>
            <li><a href="contact.html" class="nav-link">Contact</a></li>
            <li class="dropdown">
              <button class="btn btn-secondary dropdown-toggle mr-2" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Pages
              </button>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" routerLink="addTeam">Add Team</a></li>
                <li><a class="dropdown-item" routerLink="addMatch">Add Match</a></li>
                <li><a class="dropdown-item" routerLink="addPlayer">Add Player</a></li>
                <li><a class="dropdown-item" routerLink="addStadium">Add Stadium</a></li>
                <li><a class="dropdown-item" routerLink="addStore">Add store</a></li>
                <li><a class="dropdown-item" routerLink="searsh">Searsh</a></li>
                <li><a class="dropdown-item" routerLink="searsh-team">Searsh Team</a></li>
                <li><a class="dropdown-item" routerLink="admin">Dashboard</a></li>
              </ul>
            </li>
            <li> <button class="btn btn-primary mr-2" routerLink="signin"> Login </button></li>
            <li> <button class="btn btn-primary " routerLink="signup"> Singup </button></li>

          </ul>
        </nav>

        <a href="#"
          class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black float-right text-white"><span
            class="icon-menu h3 text-white"></span></a>
      </div>
    </div>
  </div>

</header>