<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">name</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let store of stores">
            <th scope="row">{{store.id}}</th>
            <td>{{store.name}}</td>
            <td>{{store.address}}</td>
            <td>
                <button type="button" class="btn btn-light mr-2" (click)="displayStore([store.id])">Display</button>
                <button type="button" class="btn btn-light mr-2" (click)="goEditStore([store.name])">Edit</button>
                <button type="button" class="btn btn-light mr-2" (click)="deleteStore([store.id])">Delete</button>

            </td>
        </tr>

    </tbody>
</table>