<div class="container site-section">
    <div class="row">
      <div class="col-6 title-section">
        <h2 class="heading">Our Blog</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="custom-media d-flex">
            <div class="img mr-4">
              <img [src]="user?.img" alt="Image" class="img-fluid">
            </div>
            <div class="text">
              <span class="meta">May 20, 2020</span>
              <h3 class="mb-4"><a href="#">{{user?.firstName}}</a></h3>
              <p>{{user?.lastName}}</p>
              <p><a href="#">Read more</a></p>
            </div>
          </div>
      </div>
    </div>
  </div>
