<div class="site-section bg-dark">
    <div class="container">
        <div class="row mt-5" style="margin-left: 350px; width: 1500px;">
            <div class="widget-next-match" style="width: 300px;">
                <div class="widget-title">
                    <h3>Team Information</h3>
                </div>
                <div class="widget-body mb-3" >
                    <div class="widget-vs">
                        <div class="d-flex align-items-center justify-content-around justify-content-between w-100">
                            <div class="team-1 text-center">
                                <img src="assets/images/logo_1.png" alt="Image">
                                <h3>{{team.name}}</h3>
                            </div>
                            
                        </div>
                    </div>
                </div>

                <div class="text-center widget-vs-contents mb-4">
                    <h4>{{team.owner}}</h4>

                    <h3>{{team.staduim}}</h3>
                    <p class="d-block">{{team.foundation}}</p>

                    
                </div>
            </div>

        </div>
    </div>
</div>